.reset-container{
    text-align:center;
    background-color:#fff;
    max-width:500px;
    margin:32px auto 0;
    padding:40px 25px 15px;
    box-shadow:#0000001f 0 1px 6px,#0000001f 0 1px 4px
}

.action-btn-container{
    display:flex;
    margin-top:30px;
    justify-content:center
}
