.sign-up-container{
    text-align:center;
    background-color:#fff;
    max-width:500px;
    margin:32px auto 50px;
    padding:40px 25px;
    box-shadow:#0000001f 0 1px 6px,#0000001f 0 1px 4px
}

.sign-up-title{
    font-size:40px
}

.sign-up-sub-title{
    font-size:20px;
    margin-bottom:10px
}

.thumbnail-upload-btn{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 25px;
    color: rgb(112, 112, 112);
}

.thumbnail-upload-btn input{
    margin-left: 10px;
}